<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>@ViewData["Title"] - DeklarimiPasuris</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeklarimiPasuris.styles.css" asp-append-version="true" />
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="toastr.css" rel="stylesheet" />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        #content-wrapper {
            margin-left: 250px;
        }

        #accordionSidebar {
            position: fixed;
            height: 100%;
        }
    </style>
</head>
<body id="page-top">
    

    <div id="wrapper">
        if(user.)
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion overflow-hidden" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="Index" asp-controller="Home">
                <div class="sidebar-brand-icon">
                    <img src="~/img/APKS.png" class="w-75 ml-4" />
                </div>
                <div class="sidebar-brand-text mr-5">SAPK<sup></sup></div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Home">
                    <span class="ml-3">Dashboard</span>
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Register" asp-controller="Auth">
                        <span class="ml-3">Add Users</span>
                    </a>
                </li>
            
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-controller="User">
                        <span class="ml-3">Users</span>
                    </a>
                </li>
            }
            <li class="nav-item active">
                <a class="nav-link" asp-action="Create" asp-controller="Declare">
                    <span class="ml-3">Declare your Wealth</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Declare">
                    <span class ="ml-3">Wealth Declarations</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">
            
            <li class="nav-item mt-auto">
                <a class="nav-link" href="javascript:void(0);" onclick="logoutAndClearHistory()">
                    <span class="ml-3">Log out</span>
                </a>
            </li>
            
            
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="toastr.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        function logoutAndClearHistory() {
            var form = document.createElement('form');
            form.action = '/Auth/Logout'; 
            form.method = 'post'; 

            document.body.appendChild(form);

            form.submit();

            if (window.history && window.history.pushState) {
                window.history.pushState('', '', '/Auth/Login');
            }
        }
    </script>
</body>
</html>