@model RegisterModel

<div class="card py-2 px-5">
    <form asp-action="Register" enctype="multipart/form-data">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label" asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label" asp-for="MiddleName">Middle Name</label>
                    <input asp-for="MiddleName" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label" asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label" asp-for="IdentityNumber">Identity Number</label>
                    <input asp-for="IdentityNumber" class="form-control" />
                    <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label" asp-for="Municipality">Municipality</label>
                    <select asp-for="Municipality" asp-items="ViewBag.Munis" class="form-control">
                        <option disabled selected>Choose your Municipality</option>
                    </select>
                    <span asp-validation-for="Municipality" class="text-danger"></span>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label" asp-for="Email">Email Address</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label" asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary">Register</button>
        </div>
    </form>
</div>